sublime_text_3/Packages/User/Package Control.last-run
sublime_text_3/Packages/User/Package Control.user-ca-bundle
sublime_text_3/Packages/User/Package Control.merged-ca-bundle
sublime_text_3/Packages/User/Package Control.cache
sublime_text_3/Packages/User/bh_unicode_properties.cache
